default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  encoding: unicode
  hostname: localhost


development:
  <<: *default
  database: rails_blog_development

test:
  <<: *default
  database: rails_blog_test


production:
  <<: *default
  database: rails_blog_production
  pool: 25
